aenum==3.0.0
autopep8==1.5.6
Babel==2.9.0
bitflag==2.0.0
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
crccheck==1.0
Flask==1.1.2
Flask-Babel==2.0.0
Flask-Script==2.0.6
Flask-Table==0.5.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pkg-resources==0.0.0
pycodestyle==2.7.0
Pygments==2.8.1
python-can==3.3.4
pytz==2021.1
readline==6.2.4.1
rich==10.0.1
toml==0.10.2
tqdm==4.59.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
wrapt==1.12.1