<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Balbin Monitor</title>
    <script>
        {{js|safe}}
    </script>
</head>
    <h1>Welcome to the Balbin Monitor</h1>
    <div id='time'>232135</div>
    <table>
        <tbody>
            <td>{{ table }}</td>
            <td>{{ flag_table }}</td>
        </tbody>
    </table>
</body>
</html>